
@media (max-width: 768px) {
  #top{
    height: 130px;
    top: 0;
    padding-top: 0;
    margin-top: -8px;
  }
  #lNav{
    height: 63px;
    margin-left: -162px;
  }
  #logoCoin {
    margin-left: 15px;
  }
  .navbar-toggleable-sm.navbar-expand-md.scrolling-navbar.double-nav.navbar.navbar-default.navbar-fixed-top{
    position: sticky;
    margin-top: 122px;
    height: 113px;;
  }
  #stickyNav{
    margin-top: -20px;
    margin-top: -6px;
  }
  #boutonNav > button{
    width: 47%;
    height: 42px;
  }
  .safe {
    width: 51%;
    margin-top: 8px;
  }
  #liste > li > a > img {
    height: 101%;
  }
  #listeBN{
    width: 100%;
  }
  #boutonNav{
    width: 100%;
    padding-left: 6%;
    padding-bottom: 0;
    margin-top: 0;
  }
  #vipButton{
    margin-left: 22%;
  }
  #slide-out{
    width: 51%;
    margin-left: -17px;
  }
  .logo{
    height: 83px !important;
    width: 83px !important;
    margin-left: 10px !important;
  }
  #apple{
    margin-left: 21px;
  }
  #index2{
    margin-top: -113px;
  }
    #app{
    display: none;
  }
  #dernier{
    margin-left: 89%;
  }
  #devenir{
    margin-left: 88px;
  }
  .body .ll{
    height: 63.5%;
  }
}
@media (max-width: 414px) {
  #top {
    height: 195px;
    top: 0;
    padding-top: 8px;
    margin-top: -8px;
  }
  #lNav {
    width: 103%;
  }
  #liste{
    width: 100%;
    padding-left: 24%;
  }
  .navbar-toggleable-sm.navbar-expand-md.scrolling-navbar.double-nav.navbar.navbar-default.navbar-fixed-top {
    margin-top: 186px;
  }
  #boutonNav {
    width: 104%;
    padding-left: 10%;
    padding-bottom: 0;
    margin-top: -19px;
  }
  #slideBar{
    position: relative;
    left: -114px;
  }
  #navBar {
    position: relative;
    right: -95px;
    top: 18px;
  }
  #vipButton {
    margin-left: -37%;
    margin-top: 11px;
  }
  #float-div {
    width: 44px;
    margin-left: 3%;
    padding-left: 0px;
  }
  #stickyNav{
    margin-right: -74px;
  }
  #index2 {
    margin-top: -95px;
  }
}
#coll{
  position: absolute;
  left: 0px;
}
