.nav-container {
  position: absolute;
  z-index: -1;
  left: -50%;
  top: 0;
  background: #001e3b;
  height: 100%;
  width: 31.32%;
  overflow: auto;
}
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #001060; 
    -webkit-box-shadow: inset 0 0 6px transparent; 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: transparent; 
}
.sidenav-menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  .sidenav-menu li {
    display: block;
    position: relative; }
  .sidenav-menu a {
    background: transparent;
    color: #BDBDBD;
    display: block;
    line-height: 24px;
    padding: 14px 33px;
    text-decoration: none;
    border-bottom: 1px solid #194579a1; }
    .sidenav-menu a:hover {
      background: #022140;
      color: #BDBDBD; }
    .sidenav-menu a.active {
      color: #FAFAFA; }
      .sidenav-menu a.active .sidenav-link-icon,
      .sidenav-menu a.active .sidenav-dropdown-icon {
        color: #FAFAFA; }

.sidenav-dropdown {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0; }
  .sidenav-dropdown a {
    background: #022140;
    color: #BDBDBD;
    padding-left: 72px; }
    .sidenav-dropdown a:hover {
      background: #194579;
      color: #BDBDBD; }
  .sidenav-dropdown li:first-child a {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); }

.sidenav-dropdown-icon {
  color: #757575;
  display: none;
  height: 16px;
  right: 16px;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 16px; }
  .sidenav-dropdown-icon.show {
    display: block; }

.sidenav strong{
/*  font-weight: bold;
*/  font-size: 92%;
  letter-spacing: 1px;
}
.boutonDown {
  background: none;
  border: none;
}
.boutonDown::-moz-focus-inner {
 border: 0;
}

:focus { outline: none; }
 
 ::-moz-focus-inner {
 border: 0;
}

.btn-nav:hover { cursor: pointer; }

.btn-nav:hover .bar { background: #e0c000; }

.bar {
  display: block;
  height: 2px;
  width: 32px;
  background: #fff;
  margin: 5px auto;
}
.btn-nav {
  display: block;
  padding: 0;
  width: 50px;
  position: relative;
  left: 0;
  top: 25px;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.btn-nav:focus { outline: none; }

.middle { margin: 0 auto; }

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.arrow-bottom-r{
  width: 44%;
  margin-left: 18%;
}
.animated { z-index: 999; }

.animated .arrow-top-r {
  -webkit-transform: rotateZ(-45deg) translateY(11px);
  -moz-transform: rotateZ(-45deg) translateY(11px);
  -ms-transform: rotateZ(-45deg) translateY(11px);
  -o-transform: rotateZ(-45deg) translateY(11px);
  transform: rotateZ(-45deg) translateY(5px);
  width: 32px;
}

.animated .arrow-middle-r {
  display: none;
}

.animated .arrow-bottom-r {
  -webkit-transform: rotateZ(45deg) translateY(-11px);
  -moz-transform: rotateZ(45deg) translateY(-11px);
  -ms-transform: rotateZ(45deg) translateY(-11px);
  -o-transform: rotateZ(45deg) translateY(-11px);
  transform: rotateZ(45deg) translateY(-5px);
  width: 32px;
}

.fa {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
 @keyframes 
showNav { from {
 left: -100%;
}

to { left: 0; }
}
 @-webkit-keyframes 
showNav { from {
 left: -100%;
}

to { left: 0; }
}
 @-moz-keyframes 
showNav { from {
 left: -100%;
}

to { left: 0; }
}
 @-o-keyframes 
showNav { from {
 left: -100%;
}

to { left: 0; }
}

.showNav {
  -webkit-animation: showNav .5s ease forwards;
  -moz-animation: showNav 1s ease forwards;
  -o-animation: showNav 1s ease forwards;
  animation: showNav .5s ease forwards;
}
 @keyframes 
hideNav { from {
 left: 0;
}

to { left: -100%; }
}
 @-webkit-keyframes 
hideNav { from {
 left: 0;
}

to { left: -100%; }
}
 @-moz-keyframes 
hideNav { from {
 left: 0;
}

to { left: -100%; }
}
 @-o-keyframes 
hideNav { from {
 left: 0;
}

to { left: -100%; }
}

.hideNav {
  -webkit-animation: hideNav 1s ease forwards;
  -moz-animation: hideNav 1s ease forwards;
  -o-animation: hideNav 1s ease forwards;
  animation: hideNav 1s ease forwards;
}

.hidden { display: none; }
.jquery-script-ads { position:absolute; top:350px; left:250px;}

.liUn{
  margin-top: 42%;
}
