

#application{
margin-top: 50px;
margin-bottom: 100px;
height: 100%;
}
.offre{
width: 95%;
margin: auto;
margin-top: auto;
margin-top: -13%;
background-color: white;
position: relative;
}
.phone img{
    width:100%; 
  }

.foot{
  
  margin:auto;
  width:100%;
  background-image: url('../img/fond-foot.png');
  /*filter: grayscale(100%);*/
  background-size: cover;
  background-attachment: fixed;
  /*filter: blur(5px);*/
  
}

.foot .contents{
  flex-wrap: nowrap;
  z-index: 2; 
  margin-top:6.6%;
}
.foot .description{
  margin-left:-3%;
}
.foot .description h2 {
	font-size:200%;
  margin-top:20%;
	color:#ffcc02;
}

.foot .description p {
	color:#fff;
	font-size:25px;
}

.buttons button, .button button{
  border: 1px solid transparent;
  text-align:left;
  border-radius: 4px;
  background:rgba(255, 255, 255, 0);
	color:#fff;
	border-color: #fff;
}


.offre .bonus{
  color:#194579; 
  font-size: 150%;
}
.offre .middle{font-size: 14px;
    margin: auto;

}
/*Vue Ipad horizontale*/
@media only screen and (max-width: 1024px){

  .container .description p {
    font-size:20px;
  }
 
  .foot .description h2 {
    font-size:100%;
  }

}

/*Vue Iphone Verticale*/
@media only screen and (max-width: 414px){
  .container .description p {
    font-size:15px;
  }
  .foot .description h2 {
    font-size:100%;
  }
}

